* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


.flex-container-column {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    margin-top: 200px;
}

.display {
    width: 100%;
    color: white;
    font-size: 2em;
    background-color: #333333;
    padding: 10px 20px;
    text-align: right;
    border: 1px solid black;
}

.flex-container-row {
    display: flex;
    /* flex-direction: column; */
}

.button {
    flex-basis: 25%;
    padding: 40px;
    text-align: center;
    background: linear-gradient( #d2d2d2, #ddd);
    border: 1px solid black;
    font-size: 1.5em;
    cursor: pointer;
}

.button:active {
    background : linear-gradient( #c9c9c9, rgb(219, 219, 219));
    box-shadow: 0 0 8px inset rgba(0, 0, 0, 0.3);
}

.button:hover {
    font-weight: bold;
}

.operator,
.negative,
.equals {
    background: orange;
}

.operator:active,
.negative:active,
.equals:active {
    background: rgb(241, 157, 0);
}

.equals {
    flex-basis: 50%;
}

.history {
    width: 80%;
    margin: 30px auto 0 auto;
    /* overflow: scroll; */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: center;
    padding: 16px;
}

th {
    background-color: orange;
}

tr:nth-child(even) {
    background-color: #d2d2d2;
}

@media (max-width: 513px){
    .button {
        padding: 20px 10px ;
        font-size: 1.3em;
    }
    .display {
        font-size: 1.8em;
    }
}